{{#each posts}}
<div class="col-md-6">
    <img src="/images/uploads/{{blogImage}}" class="img-responsive">
</div>
<div class="col-md-6">
    <h1>{{title}}</h1>
    <h3>Posted in {{category}}</h3>
    <h5>{{formatDate date "long"}}</h5>
    <p>{{{truncate content}}}</p>
    <a href="/posts/{{_id}}" class="btn button-main">Read More</a>
</div>
{{/each}}
