<div class="nine columns">
  {{#each posts }}
  <div class="blog-post">
    <h2><span>{{title}}</span></h2>
    <h3>by {{author}} in {{category}}</h3>
    <p>Posted on {{date}}</p>
    <img src="/images/uploads/{{blogImage}}" width="710" height="300" />
    <p>{{{content}}}</p>
    <p><a href="/posts/{{_id}}" class="read-more">Read More</a></p>
  </div>
  {{/each}}
</div>

<div class="three columns categoryMenu">
  <h3>Categories</h3>
  <ul>
    {{#each categories}}
    <li>{{categoryName}}</li>
    {{/each}}
  </ul>
</div>