{{#each posts}}
<hr>
<img src="/images/uploads/{{blogImage}}" class="img-responsive thumbnail" width="900px" height="300px">
<h1>{{title}}</h1>
<h3>Posted in <a href="/categories/show/{{category}}">{{category}}</a> by {{author}}</h3>
<h5>{{formatDate date "long"}}</h5>
<p>{{{truncate content}}}</p>
<a href="/posts/{{_id}}" class="btn button-main">Read More</a> {{/each}}

{{#each categories}}
 <h1>{{category}}</h1>
{{/each}}