{{#each posts}}
<div class="ui segment">
    <img class="ui left floated medium image" src="/images/uploads/{{blogImage}}">
    <h2>{{title}}</h2>
    <p>Posted by {{author}} on {{formatDate date "long"}} | <a href="/categories/show/{{category}}">{{category}}</a></p>
    <p>{{{truncate content}}}</p>
    <a href="/posts/show/{{_id}}" class="ui button scheme-button">Read More</a>
</div>
{{/each}}