{{#each posts }}
          <div class="blog-post">
            <h2><span>{{title}}</span></h2>
            <h3>by {{author}} in {{category}}</h3>
            <p >Posted on {{date}}</p>
            <img src="/images/uploads/{{blogImage}}"  width="900" height="300"/>
            <p>{{{content}}}</p>
            <p><a href="/posts/{{_id}}" class="read-more">Read More</a></p>
          </div>
{{/each}}