<div class="nine columns">
  {{#each posts }}
  <div class="blog-post">
    <h3><span>{{title}}</span></h3>
    <p class="lead">by {{author}} in {{category}}</p>
    <p>Posted on {{formatDate date "long"}}</p>
    <img class="u-full-width" src="/images/uploads/{{blogImage}}"/>
    <p>{{{ truncate content}}}</p>
    <p><a href="/posts/{{_id}}" class="button button-main">Read More</a></p>
  </div>
  {{/each}}
</div>

{{!--<div class="three columns categoryMenu">
  <h3>Categories</h3>
  <ul>
    {{#each categories}}
    <li>{{categoryName}}</li>
    {{/each}}
  </ul>
</div>--}}