{{#post}}
<div class="ui segment">
    <img class="ui centered fluid image" src="/images/uploads/{{blogImage}}">
    <h2>{{title}}</h2>
    <p>Posted by {{author}} on {{formatDate date "long"}} | <a href="/categories/show/{{category}}">{{category}}</a></p>
    <p>{{{content}}}</p>
    

    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        {{#each comments}}
        <div class="comment">
            <a class="avatar">
                <img src="/images/avatars/{{commentorAvatar}}">
            </a>
            <div class="content">
                <a class="author">{{commentorName}}</a>
                <div class="metadata">
                    <span class="date">{{formatDate commentDate "long"}}</span>
                </div>
                <div class="text">
                    {{{commentBody}}}
                </div>
            </div>
        </div>
        {{/each}} {{/post}}
        <hr> {{#if errors}}
        <div class="ui error message">
            <div class="header">
                There were some errors with your comment submission
            </div>
            <ul class="list">
                {{#each errors}}
                <li>{{msg}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        <h3 class="ui dividing header">Add a comment</h3>
        <form class="ui reply form" action="/posts/newcomment" method="POST">
            <div class="field">
                <input type="hidden" name="postId" value="{{post._id}}">
            </div>
            <div class="field">
                <label>Name</label>
                <input type="text" name="commentorName" placeholder="Name">
            </div>
            <div class="field">
                <label>Avatar</label>
                <select name="avatar">
                    <option value="matt.jpg">Male Avatar</option>
                    <option value="jenny.jpg">Female Avatar</option>
                </select>
            </div>
            <div class="field">
                <label>Content</label>
                <textarea name="commentBody" id="body"></textarea>
            </div>
            <button type="submit" class="ui scheme-button labeled icon button">
                <i class="icon edit"></i> Add Comment
            </button>
            <a href="/" class="ui button scheme-button">Back to Home Page</a>
        </form>
    </div>
</div>