{{#post}}
<div class="ui segment">
    <img class="ui centered fluid image" src="/images/uploads/{{blogImage}}">
    <h2>{{title}}</h2>
    <p>Posted by {{author}} on {{formatDate date "long"}} | <a href="/categories/show/{{category}}">{{category}}</a></p>
    <p>{{{content}}}</p>
    <a href="/" class="ui button scheme-button">Back</a>
</div>
{{/post}}